.profile__info {
  max-width: 336px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: max-content min-content;
  column-gap: 18px;
  row-gap: 9px;
  align-items: center;
}


@media screen and (max-width: 917px) {
  .profile__info {
    justify-self: center;
    padding: 25px 0 34px;
    justify-content: center;
  }
}


@media screen and (max-width: 618px) {
  .profile__info {
    grid-template-columns: 235px 37px;
    column-gap: 10px;
    row-gap: 8px;
  }
}
