.profile {
  width: 100%;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  align-items: center;
}


@media screen and (max-width: 917px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 116px min-content;
  }
}


@media screen and (max-width: 618px) {
  .profile {
    padding-bottom: 36px;
  }
}
