.cards__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


@media screen and (max-width: 917px) {
  .cards__links {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 618px) {
  .cards__links {
    grid-template-columns: 1fr;
  }
}
