.profile__info {
  max-width: 336px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: max-content min-content;
  column-gap: 18px;
  row-gap: 9px;
  align-items: center;
}


@media screen and (max-width: 917px) {
  .profile__info {
    justify-self: center;
    padding: 22px 0 36px 42px;
    justify-content: center;
  }
}


@media screen and (max-width: 618px) {
  .profile__info {
    padding-left: 28px;
    column-gap: 10px;
    row-gap: 14px;
  }
}

