.header {
  width: 100%;
  padding: 45px 0 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 917px) {
  .header {
    padding-left: 27px;
  }
}


@media screen and (max-width: 618px) {
  .header {
    padding: 28px 0 31px 27px;
  }
}
